[submodule "iKan/vendor/spdlog"]
	path = iKan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "iKan/vendor/glfw"]
	path = iKan/vendor/glfw
	url = https://github.com/ashish1009/glfw
[submodule "iKan/vendor/glm"]
	path = iKan/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "iKan/vendor/Imgui/Imgui"]
	path = iKan/vendor/Imgui/Imgui
	url = https://github.com/ashish1009/imgui
[submodule "iKan/vendor/yaml/Git"]
	path = iKan/vendor/yaml/Git
	url = https://github.com/ashish1009/yaml-cpp
