[submodule "iKan/vendor/spdlog"]
	path = iKan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "iKan/vendor/glfw"]
	path = iKan/vendor/glfw
	url = https://github.com/ashish1009/glfw
[submodule "iKan/vendor/imgui/src"]
	path = iKan/vendor/imgui/src
	url = https://github.com/ashish1009/imgui
[submodule "iKan/vendor/glm"]
	path = iKan/vendor/glm
	url = https://github.com/g-truc/glm
